<header class="bg-primary py-5 mb-5">
<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-lg-12">
      <h1 class="text-white mt-5 mb-2">PySCF</h1>
      <h2 class="text-white">The Python-based Simulations of Chemistry Framework</h2>
      <p class="lead mb-5 text-white-50">PySCF is an open-source collection
      of electronic structure modules powered by Python.  The package aims
      to provide a simple, lightweight, and efficient platform for quantum
      chemistry calculations and methodology development.</p>
      <p class="text-white-50">currently v.1.6.4</p>
      <a class="btn btn-warning btn-lg" href="quickstart.html">Get Started</a>
    </div>
  </div>
</div>
</header>
