/* Bootstrap vars */
/*$white:    #fff;
$red:     #dc3545;
$body-bg: $red;
$body-color: $white;*/

$blue: #306998;

$theme-colors: (
  "primary": $blue,
  "danger": #ff4136
);

/* custom vars */
$custom-font-size: 20px;
$primary-color: #306998; 

